<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Lidia Mihailidis</h1>
		<p>Welcome to my page!</p>
		<p>This blog is built in Ruby on Rails 4. You're actually checking one of my Ruby assignments right now! Cool, right?</p>
		<p>If you'd like to follow, you can also find me on Google+ <a href="https://plus.google.com/u/0/+LidiaMihailidis">@LidiaMihailidis</a>.</p>
		<p> Stay tuned!</p>
	</div>
</div>